body {
  padding-top: 2%;
	font-family: "Press Start 2P", monospace;
  /* color: #ffffff; */
  background-color: #503535a8;
  /* background-image: url(); */
  /* text-align: center; */
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("https://media.discordapp.net/attachments/938476345514655784/938551098652897340/pixel-sun.png");
  background-image: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px inset rgb(177, 35, 0);
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-top: 3%;
  color: rgb(0, 212, 0);
  text-shadow: 3px 2px 1px green;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

h4 {
  margin-top: 5%;
  text-align: center;
}

button {
  background-color: rgba(71, 61, 139, 0.685);
  color: rgba(224, 75, 104, 0.699);
  text-align: center;
}

button:hover {
  color: crimson;
  text-shadow: 1px 2px 3px red;
}

#submit-character {
  display: initial;  
}

.page2, #battle-screen, #btns-battle, #item-shop, #inn, #floor2, #floor3, #level2, #level3, #return-attack, #items {
  display:none;
}

#map-hub, #town, #dungeon, #cave {
  display:none;
}

#wake-up-message {
  display:none;
  text-align: center;
}

#exit-rest:hover {
  text-decoration: underline;
}

#exit-rest {
  cursor: pointer;
  color: #0088cc;
}

.chooseweapon {
  float: left;
  /* margin-right: 20%; */
}

.choosecharacter {
  float: right;
  /* margin-left: 20%; */
}

#page1 {
  text-align: center;
}

.page2 div {
  position: relative;
}

.page2 div img {
  /* width:20%; */
  /* display:block; */
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  /* margin:auto; */
}

#character-display {
  font-size: 30px;
  margin-top: 2%;
}

.flash-text {
  text-align: center;
  color: rgb(255, 251, 0);
  text-shadow: 1px 2px 3px rgb(231, 158, 0);
}

#sword-img {
  image-rendering: pixelated;
  /* position: absolute; */
  width: 300px;
  height: 300px;
  margin-left: 40%;
  margin-bottom: 11%;
}
#axe-img {
  image-rendering: pixelated;
  width: 400px;
  height: 400px;
  margin-bottom: 11%;
  margin-left: 34%;
}
#staff-img {
  image-rendering: pixelated;
  width: 300px;
  height: 300px;
  margin-bottom: 11%;
  margin-left: 43%;
}

.pal {
  text-align: center;
  margin-top:10%;
  
}
.pal img {
  margin-bottom: 35px;
  width: 550px;
  height: 550px;
  image-rendering: pixelated;
  margin-left: 10%;
}

.mag {
  text-align: center;
  margin-top: 8%;
}

.mag img{
  margin-bottom: 35px;
  width: 500px;
  height: 500px;
  image-rendering: pixelated;
  margin-left: 15%;
}

.bru {
  text-align: center;
  margin-top: 7%;
}

.bru img{
  margin-bottom: 35px;
  width: 400px;
  height: 400px;
  image-rendering: pixelated;
  margin-left: 20%;
}

.battle-weapons {
  margin-right: 30%;
}

#enemy1 {
  width: 550px;
  height: 550px;
  margin-top: 5%;
  image-rendering: pixelated;
}

#enemy1 {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}

#buy-hp-potion {
  display: none;
}

#buy-mp-potion {
  display: none;
}

#buy-elixer {
  display: none;
}

.hub {
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
}

.map-hub {
  margin-top: 25%;
}

#town {
  text-align: center;
}

.town-header {
  margin-top: 5%;
  font-size: 40px;
}

.town-info {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}

.town-bg {
  background-color: rgba(73, 73, 73, 0.582);
}

.btn-bg {
  background-color: rgb(48, 40, 40);
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.inn-welcome {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shop-welcome {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shop-keep {
  text-align: center;
  background-color: rgba(73, 73, 73, 0.582);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#item-shop {
  text-align: center;
}

.buy {
  margin-top: 5%;
}

#choose-dungeon, #choose-town, #choose-cave, #create, #use-item, #return-attack, #use-item, #return-attack, .back-to-home-cave, .map-hub, #enter-shop, #enter-inn, #back-to-menu, .yes, .no, .shop-btn, #leave, .stay, .exit-inn, .back-to-home-cave, .move-ahead, .go-back, .move-ahead2, .move-ahead-cave, .go-back-cave, .move-ahead-cave2, .go-back-cave1, .battle2-go, #endviewingcharacter {
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  border: 2px 2px 2px rgb(201, 59, 59);
}

.go-back1, .battle-dungeon, .attack, .item-use, #attack, #item-use {
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  display: inline-block;
}

#inn {
  text-align: center;
}

.inn-text {
  background-color: rgba(73, 73, 73, 0.582);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#floor1, #floor2, #floor3, #level1, #level2, #level3 {
  text-align: center;

}

.f1text, .f2text, .f3text, .lvl1text, .lvl3text, .lvl2text {
  background-color: rgba(73, 73, 73, 0.582);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.f1head {
  margin-top: 5%;
  font-size: 40px;
  margin-bottom: 5%;
}

.flash {
  text-align: left;
  margin-right: 93%;
}

#broke {
  display:none;
}

.card {
  background-color: greenyellow;
  height: 10px;
  border-radius: 20px;
}

.battle-images {
  margin-right: 70%;
}

.items {
  float: left;
}

#btns-battle {
  text-align: center;
  margin-left: 40%;
  margin-bottom: 10%;
}

#results-screen {
  display: none;
  position: absolute;
  padding: 10%;
  background-color: #503535a8;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  margin-right: 10%;
  z-index: 1;
}

/* button.back-to-home-cave {
  margin-top: 5em;
  text-align: center;
} */

#battle-screen2 {
  display: none;
}
